<img src="media/influencer.jpg" alt="Profile photo" class="px-sm-4 col-sm-12 col-lg-6">

<p class ="h4" style="line-height:2">
  <a href="https://www.linkedin.com/in/kiyeon/" target="_blank">LinkedIn</a>,
  <a href="mailto:kiyeonlee@college.harvard.edu">Email</a>
</p>

      <br></br>
      <p>
        <h4>Services</h4>
        <ul>
          <li>Seeking jobs in tech entrepreneurship. <a href="https://www.figma.com/proto/1XbooUBVT0dhqZRqVId6Jc/Kiyeon-Lee---Portfolio?node-id=4%3A2&starting-point-node-id=4%3A2" 
                                                        target="_blank">Portfolio</a>.</li> 
          <li>Offering education advising and piano lessons.</li> 
          <li>KiyeonLee@college.harvard.edu</li>  
        </ul>   
      </p>   

      <p class = "h3">
        <a href="https://www.linkedin.com/in/kiyeon/">LinkedIn</a>,
        <a href="mailto:kiyeonlee@college.harvard.edu">Email</a>
      </p>

<p>
  <a href="mailto:kiyeonlee@college.harvard.edu">email</a>
</p>


<div class="px-sm-4">
<img id="main" src="media/influencer.jpg" alt="Profile photo" class="influencer col-sm-12 col-lg-6">
</div>


.responsive {
  width: 90%;
  height: auto;
  text-align: center;
  text-align: left;
  margin: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

figcaption {
  font-size:0.8rem;
  text-align: center;
}

.back {
  font-size:1rem;
}

body {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.1rem;
    line-height: 1.9rem;
    padding: 1rem;
}

.center {
  text-align: center;
  text-align: left;
  margin: auto;
  width: 50%;
}


h1 {
  text-align: center;
  color: #000066;

}

h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: light;
    margin: auto;
    text-decoration: none;
}

#ki {
  font-family: 'Pinyon Script', cursive;
  font-size: 4.3rem;
  margin: auto;
}

/* For width larger than 400px: */
.influencer {
  width: 60%;
  height: auto;
}

/* For width 400px and smaller: */
@media only screen and (max-width: 700px) {
  .influencer {
    width: 90%;
    height: auto;
  }
  .center {
    width: auto;
  }
}

/* #about {
  margin-right:4rem;
} */


<figure>
  <img src="media/david.jpg" alt="Michelangelo's David" id="space">
  <figcaption style="font-size: 0.8em">Michelangelo's <em>David</em></figcaption>
</figure>
