body {
    margin-top: 1rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

#ki {
  font-family: 'Pinyon Script', cursive;
  font-size: 4.3rem;
}

h5 {
    font-size: 1.5rem;
}

img#main {
    width: 700px;
}
